
.button{
	-fx-border-width:3 3 3 3;
	-fx-border-color:rgb(0,128,128);
	-fx-border-radius:2 2 2 2;
	-fx-padding:0.0;
}

.glyph-icon{
	-fx-fill:rgb(128,0,0);
	-glyph-size:55px;
}

ButtonBar{
	-fx-padding:0 0 0 -20;
}